// Global constants params

$mobile-size: 30rem;
$mobile-min-device-size: 25.9rem;
$mobile-max-device-size: 56rem;
$mobile-min-device-size-pro: 23.4rem;
$mobile-max-device-size-pro: 50.8rem;
// $mobile-max-device-size: 64rem;
// $mobile-size-pratio3: 51rem;
$tablet-size: 48rem;
$tablet-min-device-size: 48rem;
$tablet-max-device-size: 64rem;
// $tablet-size-pratio3: 39rem;
$desktop-size: 75rem;

$maeli-background: rgba(0, 0, 0, 0.9);
$maeli-background-alt: rgb(233, 233, 233);
$meali-link: rgba(2, 1, 1, 0.5);
$meali-link-hover: rgba(32, 20, 20, 0.938);
$maeli-background-footer: rgba(0,0,0,0.085);

$maeli-mask-backgroud-color: rgba(0, 0, 0, 0.37);
$maeli-mask-font-color: rgb(209, 209, 209);
